html
    head
        title= "Create safe"
        <link rel="shortcut icon" type="image/jpg" href="/favicon.png"/>
        style
            include index.css
    body(class="safe-page")
        a(class="logo" href="#")
            img(src="/logo.svg" alt="SquadDao")
        h1(class="title") Connected as
        div(class="param-box")
        div(class="description code" id="address")
        div(class="panel")
            div(class="name") Squad
            div(class="code")=squad
        div(class="panel")
            div(class="name") Consensus
            div(class="code")=consensus
        div(class="panel")
            div(class="name") Signers
            div(class="code")
                each signer in signers
                    p=signer
        a(class="cta" href="#" onclick="createSafe()") CREATE SAFE
script.
    var consensus = '#{consensus}';
    var squad = '#{squad}';
    var signers = '#{signers}';

script(src="/web3.min.js")
script(src="/createsafe.js")
